body#login{
  margin: 0;
  padding: 0; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: beige;
}

*{
  margin: 0px;
  padding: 0px;
  background-color: navajowhite;
  font-family: Verdana, Arial, Tahoma, Serif
}


body#register{
  margin: 0;
  padding: 0; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.login-form hl{
  color: red;
}

.register-form{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 50px;
  transform: translate(-50%, -50%);
  text-align: center;

}

.logo{
  margin: 10px;
  color: black;
  
}

.terms_conditions{
  color: black;
  font-size: 15px;
  position: absolute;
  top: 85%;
  left: 53%;
  transform: translate(-50%, -50%);
  text-align: center;
   margin-top: 8px;
  text-decoration: none;
}

.register-form h1{
  color: blue;
  align-items: center;
  margin: 30px;
  margin-right: 60px;
}

.login-form{
position: absolute;
top: 50%;
left: 50%;
width: 300px;
padding: 50px;
transform: translate(-50%, -50%);
text-align: center;

background: grey;
}

.login-form input[type="text"], .login-form input[type="password"]{
display: block;
margin: 20px auto;
outline: none;
width: 200px;
border: 3px solid #3498db;
padding: 20px;
margin: 20px;
border-radius: 20px;

}
.login-form input[type = "submit"]{
display: block;
margin: 20px auto;
outline: none;
width: 250px;
border: 3px solid #3498db;
padding: 20px;
margin: 20px;
border-radius: 20px;
}

.register-form input[type = text], input[type="password"]{
  display: block;
  margin: 20px auto;
  outline: none;
  width: 200px;
  border: 3px solid #0093f5;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;

}

.register-form input[type = "submit"]{
display: block;
margin: 25px auto;
outline: none;
width: 250px;
background-color:blue;
padding: 20px;
margin: 20px;
border-radius: 20px;
background: blue;
color: white;

}

a{
  color: blue;
  text-decoration: none;
}


.login-form h1{
  color: red;
  text-align: center;
  margin-bottom: 40px;
}

.account_exist{
 position: absolute;
 top: 25px;
 right: 35px;
}

.account_exist a{
  color: blue;
  font-size:large;
  text-decoration: none;
  text-size-adjust: 10px;
  padding: 2px;

}

.account_exist p{
  color: grey;
  font-size: medium;
 
}